@font-face {
    font-family: 'DungeonFont';
    src: local('DungeonFont');
    font-weight: normal;
    font-style: normal;
}

.header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    /*height: 15vh;*/
    padding: 2vh 3vh;
    box-sizing: border-box;
    border-bottom: 3px solid black;
}

.logo {
    font-family: 'DungeonFont', monospace;
    font-size: 8vh;
    color: #000;
    /*text-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 3vh;
}

.settings-icon, .user-icon {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}

.settings-container {
    position: relative;
    display: inline-block;
}

.settings-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000;
    min-width: 20vh;
    box-shadow: 0 0.5vh 1vh rgba(0,0,0,0.2);
    z-index: 1;
}

.settings-container:hover .settings-dropdown {
    display: block;
}

.dropdown-item {
    font-family: 'DungeonFont', monospace;
    color: white;
    padding: 1.5vh 2vh;
    text-decoration: none;
    display: block;
    font-size: 2.5vh;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #333;
} 