@font-face {
    font-family: 'DungeonFont';
    src: local('DungeonFont');
    font-weight: normal;
    font-style: normal;
}

.header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    /*height: 15vh;*/
    padding: 2vh 3vh;
    box-sizing: border-box;
}

.logo {
    font-family: 'DungeonFont', monospace;
    font-size: 8vh;
    color: #000;
    /*text-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 3vh;
}

.settings-icon, .user-icon {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
} 