@font-face {
    font-family: 'DungeonFont';
    src: url('../assets/DungeonFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DungeonFont', serif;
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

#control-panel {
    position: fixed;
    bottom: 0;
    right: 25%;
    transform: translateX(+50%);
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    gap: 0.5rem;
}

#control-panel button {
    height: 100%;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.25rem 1rem;
    background-color: black;
    color: white;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

#control-panel button:hover {
    background-color: #383838;
}

#left-panel {
    width: 50%;
    height: 100vh;
    padding: 2rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 0.5rem;
    height: 100%;
    overflow-y: scroll;
}

.algorithm-list-header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.algorithm-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-bottom: 1rem;
}

.algorithm-item {
    padding: 0.25rem 1rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.algorithm-item img {
    width: 82px;
    height: 82px;
}

.algorithm-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.algorithm-item-description p {
    width: 100%;
}

.algorithm-item:hover {
    background-color: #ececec;
}

#pyraminxspace {
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
}

#pyraminxspace canvas {
    width: 100%;
    height: 100%;
}

#info {
    font-family: 'DungeonFont', serif;
    position: absolute;
    width: 50%;
    right: 0;
    top: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    z-index: 100;
}

#info span {
    display: block;
    margin: 5px 0;
} 